@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
button{
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size:0.75rem;
  height:30px;
  @apply transform transition duration-500 text-green-500 bg-black hover:scale-[1.07] duration-400;
}