@import "tailwindcss";
#root {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.75rem;
  height: 30px;
  @apply transform transition duration-500 text-green-500 bg-black hover:scale-[1.03] duration-400;
}
.sectionBody {
  @apply px-[10px] flex flex-col gap-[20px];
  & input {
    width: 100%;
    border: solid 1px rgb(132, 130, 130);
    padding: 10px;
    height: 30px;
    @apply rounded;
  }
  & form {
    display: flex;
    margin: 20px 1px;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }
}
.contact {
  @apply bg-black text-white py-[20px] px-[20px] flex flex-col justify-center gap-3 items-center w-full md:w-[40%];
  & main {
    @apply bg-white text-black rounded p-3 text-center;
    & section {
      display: flex;
      gap: 10px;
      flex-direction: column;
      @apply sm:px-[20px] py-[30px];
    }
  }
  & footer {
    display: flex;
    @apply justify-center items-center;
    & button {
      width: 100px;
      padding: 10px 5px;
      @apply bg-white hover:bg-gray-400 text-black;
    }
  }
  & input {
    @apply w-[100%] h-[30px] p-1 bg-white text-gray-700 my-2 border-0 outline-0;
  }
  & textarea {
    @apply resize-none  w-[100%] p-1 bg-white text-gray-700 my-2 border-0 outline-0;
  }
}
.articles {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-inline: 10px;
  color: white;

  & h6 {
    font-size: 1rem;
    font-weight: 600;
    font-family: Admiral, Gothic;
  }
  & p {
    font-size: 0.75rem;
    font-weight: 500;
    @apply cursor-pointer hover:underline;
  }
  @apply text-start;
}

.growthCard{
  display:flex;
  gap:15px;
  @apply shadow-md rounded py-2 px-[10px] sm:px-[20px] md:flex-row flex-col justify-center items-center;
  &  main{
    @apply md:p-[40px] p-[20px]
  }
  & article{
    padding-block: 30px 0;
    display :flex ;
    gap:15px;
    
    & p{
      @apply text-black flex gap-[3px] items-center rounded;
      font-size: 0.8rem;
      padding: 5px 10px;
      border: 1px solid #b5b3b3;
      font-family:sans-serif, Admiral;
    }
  }

  & h5{
    font-family:sans-serif, Admiral;
    font-weight: bold;
    font-size: 2rem;
    text-align:start;
    @apply max-w-[500px] w-[80%] py-4;
  }
  & button{
    @apply w-[170px] h-[30px] text-nowrap text-center text-white;
  }
}